.button{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-radius: 33px;
  padding: 8.5px 20px;
  color: $font_color_primary;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
  @include sm{
    padding: 10px 20px;
    font-size: 16px;
  }
  img{
    margin-right: 5px;
  }

  &__icon{
    width: 11px;
    height: 13px;
    img{
      object-position: center;
      object-fit: contain;;
    }
    &--left{
      margin-right: 5px;
    }
    &--right{
      margin-left: 5px;
    }
  }

}
.button--default{
  background-color: white;
  border: 1px solid #DADFE7;

}
.button--success{
  color: #ffffff;
  background-color: $primary_color;
  border:1px solid $primary_color;
}
.button--primary{
  color: #ffffff;
  background-color: $primary_color;
  border:1px solid $primary_color;
  &:hover{
    background-color: transparent;
    color: $primary_color;
  }
}
.button--block{
  width: 100%;
}

.shops-button {
  align-items: center;
  justify-content: center;
  padding: 12px 22px;
  gap: 6px;
  background: $primary_color;
  border-radius: 48px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  cursor: pointer;
  max-width: 251px;
  width: 100%;
  transition: all 0.1s ease-in;
  display: none;
  &:hover{

  }
  @include sm{
    display: flex;
  }
  &__icon {
    width: 24px;
    height: 24px;
  }

  &__text {
  }
}
.toggle-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 30px;
  background: $primary_color;
  border-radius: 48px;
  color: white;
  transition: all 0.1s ease-in;
  margin-right: 20px;
  cursor: pointer;
  @include sm{
    display: none;
  }
  &:hover{

  }
  &__icon {
    width: 24px;
    height: 24px;
  }
}
.search-button, .basket-button, .account-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 7.5px;
  @include sm{
    margin: 0 15px;
  }
  img{
    width: 24px;
    height: 24px;
    @include sm{
      width: 30px;
      height: 30px;
    }
  }
}
.search-button{
  @include sm{
    display: none;
  }
}
.footer-subscribe__button{
  display: flex;
  color: $primary_color;
  padding: 12px 14px;
  border: 1px solid $primary_color;
  align-items: center;
  border-radius: 33px;
  transition: all 0.1s ease-in;
  &:hover{

  }
  &-icon{
    margin-right: 10px;
  }
  &-icon img{
    width: 18px;
    height: 18px;
  }
  &-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
  }
}