.search {
  position: relative;
  &__input {
    border: 1px solid #12C13E;
    border-radius: 90px;
    padding: 12px 64px 12px 22px;
    font-style: normal;
    font-weight: 400;
    font-size: $regular_font_size;
    line-height: 24px;
    width: 100%;
  }

  &__button {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    border-radius: 50%;
    background: $primary_color;
  }
  &__clear-button{
    position: absolute;
    right: 54px;
    top: calc(50% - 12px);
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.1s ease-in;
    img{
      width: 24px;
      height: 24px;
    }
  }
}
