$screen-xs: 375px;
$custom-screen-xs: 425px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-custom-lg: 1280px;
$screen-lg: 1366px;
$screen-xl: 1440px;

$content-xs: 320px;
$content-sm: 760px;
$content-md: 960px;
$content-lg: 1200px;
$content-xl: 1200px;
